@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Charm&family=Great+Vibes&family=Parisienne&family=Playball&family=Rochester&family=Simonetta&family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Merriweather:wght@300&family=Montserrat:wght@100&family=PT+Serif&family=Philosopher&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo-img {
  float: center;
  margin-left: 30px;
  width: 330px;
}

.header-bar {
  background-color: #ffffff;
  margin-right: 60px;
  margin-left: 50px;
  text-align: left;
  height: 250px;
}

.nav {
  float: right;
  margin-top: 130px;
  /* margin-right: 110px; */
  margin-right: 7.8%;
}

.map-container {
  margin-left: 22%;
  margin-top: 1%;
}


/* images styling */

.rest-map-img {
  width:160px;
  height:150px;
}

.info-img{
  width: 285px;
  height: 240px;
  justify-content:space-around;
  float:center;
  overflow: hidden;
  border-radius: 10px;
  padding: 4px;
}

#card-img {
  border-radius: 4px;
  width: 270px;
  height: 220px;
  cursor: pointer;
  justify-content: space-between;
  cursor: pointer;
}

.profile-img {
  border-radius: 50px;
  width: 270px;
  height: 320px;
  
}

.bookmark-img {
  border-radius: 6px;
  width: 140px;
  height: 135px;
  cursor: pointer;
}


/* restaurants styling */
#filter-bar {
  margin-left: 8%;
}

#search-bar{
  margin-right: 11%;
}

#filter{
  text-align: left;
  padding: 9px;
}

#restaurant-list{
  /* padding-top: 0em;
  padding-left: 130px;
  padding-right: 30px;
  padding-bottom: 40px; */
  margin-left: 8.5%;
  grid-template: auto 1fr auto / auto 1fr auto;
  box-shadow: rgb(26, 102, 102) !important;
  border-radius: 10px !important;
  border-color: rgb(26, 102, 102);
}

.restaurant-card {
  /* padding:16px; */
  margin-inline-end: 36px;
  box-shadow: rgb(78, 134, 134) !important;
  border-radius: 9px !important;
}


#card-info {
  text-align: left;
  align-content: center;
  padding: 15px;
  height: 420px;
  width: 300px;
  border-spacing: 2rem;
  font-family:'Simonetta', cursive !important;
  font-size: 16px;
}


.restaurant-page-info{
  margin-left: 135px;
  text-align: center;
  justify-content: center;
  font-size: 18px;
}

.info-box{
  /* padding-top: 30px;
  padding-left: 250px; */
  margin-top: 20px;
  margin-left: 15.5%;
  float: center;
} 

.restaurant-name{
  font-family: 'Charm';
  font-size: 30px;
  letter-spacing: 4px;
  color:rgb(110, 173, 170);
} 

.setup-info{
  font-family: '';
  color: teal;
}

/* reviews styling */

.reviews-list{
  margin-left: 13%;
  align-content: left;
  margin-top: 20px;
  margin-bottom: 60px; 
  
}

#review-button{
  float: right;
  margin-right: 20%;
}

#reviews-ribbon {
  float: left;
}


/* login/register */

.login-title{
  color: rgb(125, 170, 170);
  text-align: center;  
  font-family: 'Charm', cursive;
  letter-spacing: 3px;;
}

/* profile */
.profile-page {
  margin-left: 160px;
  margin-bottom:80px;
  color:rgb(30, 90, 90);
  font-family:'Zilla Slab', serif;
  font-size:18px;
  margin-top: 10px;
}

#welcome-profile{
  color:rgb(39, 158, 118);
  font-family: 'Charm', cursive;
  letter-spacing: 2px;
}

#bookmark-list-header{
  color:rgb(125, 170, 170);
  font-family: 'Simonetta';
  font-size:18px;
}

.bookmark-list{
  margin-top: 15px;
  margin-left: 20px;
}

#footer {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 18px;
  text-align: center;
  padding:18px;
  color: #336b81;
  bottom: 0;
  margin-bottom: 2px;
  width: 100%;

}
