@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Charm&family=Great+Vibes&family=Parisienne&family=Playball&family=Rochester&family=Simonetta&family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Merriweather:wght@300&family=Montserrat:wght@100&family=PT+Serif&family=Philosopher&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 70px;
  padding-right:70px;
  font-size: 30px
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo-img {
  float: center;
  padding-left: 50px;
  /* padding-bottom: 10px; */
  width: 350px;
}

.header-bar {
  background-color: #ffffff;
  padding-left:100px;
  padding-right:60px;
  text-align: left;
  height: 200px;
  /* padding-bottom: -100px; */
}

.nav {
  float: right;
  padding-right: 110px;
  padding-top: 80px;
}

.map-container {
  padding-bottom: 50px;
  padding-left: 360px;
  padding-top: 50px;
}


/* images styling */

.rest-map-img {
  width:160px;
  height:150px;
}

.info-img{
  width: 285px;
  height: 240px;
  justify-content:space-around;
  float:center;
  overflow: hidden;
  border-radius: 10px;
  padding: 4px;
}

#card-img {
  border-radius: 4px;
  width: 270px;
  height: 220px;
  cursor: pointer;
  justify-content: space-between;
  cursor: pointer;
}

.profile-img {
  border-radius: 10px;
  width: 260px;
  height: 290px;
}

.bookmark-img {
  border-radius: 6px;
  width: 140px;
  height: 135px;
  cursor: pointer;
}


/* restaurants styling */
#filter-bar {
  padding-left: 150px;
  padding-bottom: 5px;
  padding-top: 50px;
}

#search-bar{
  padding-right: 170px;
}

#filter{
  text-align: left;
  padding: 9px;
}

/* .restaurant-list{
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  padding-top: -50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  box-shadow: rgb(125, 170, 170) !important;
  border-radius: 5px !important;
} */

#restaurant-list{
  padding-top: 0em;
  padding-left: 130px;
  padding-right: 30px;
  padding-bottom: 40px;
  grid-template: auto 1fr auto / auto 1fr auto;
  box-shadow: rgb(26, 102, 102) !important;
  border-radius: 10px !important;
  border-color: rgb(26, 102, 102);
}

.restaurant-card {
  padding:16px;
  box-shadow: rgb(125, 170, 170) !important;
  border-radius: 5px !important;
}

#card-info {
  text-align: left;
  align-content: center;
  padding: 15px;
  color: #799351 !important;
  height: 420px;
  width: 300px;
  border-spacing: 2rem;
  font-family:'Simonetta', cursive !important;
  font-size: 16px;
}


.restaurant-page-info{
  padding-left: 80px;
  text-align: center;
  justify-content: center;
  font-family: '';
  font-size: 18px;
}

.info-box{
  padding-top: 30px;
  padding-left: 250px;
  float: center;
  /* font-size: 60px !important; */
} 

.restaurant-name{
  font-family: 'Charm';
  font-size: 30px;
  letter-spacing: 3px;
  color:rgb(39, 158, 118);
} 

.setup-info{
  font-family: '';
  color: teal;
}

/* reviews styling */

.reviews-list{
  padding-left:200px;
  align-content: left;
  padding-top: 20px;
  padding-bottom:50px;
  
}

#review-button{
  float: right;
  padding-right: 450px;
}

#reviews-ribbon {
  float: left;
  padding-bottom: 10px;
}


/* login/register */

.login-title{
  color: rgb(125, 170, 170);
  padding-left: 70px;
  font-family: 'Charm', cursive;
  letter-spacing: 3px;;
}

/* profile */
.profile-page {
  padding-left: 150px;
  padding-bottom:80px;
  color:rgb(30, 90, 90);
  font-family:'Zilla Slab', serif;
  font-size:18px;
  padding-top: 10px;
}

#welcome-profile{
  color:rgb(39, 158, 118);
  font-family: 'Charm', cursive;
  letter-spacing: 2px;
}

#bookmark-list-header{
  color:rgb(125, 170, 170);
  font-family: 'Simonetta';
  font-size:18px;
}

.bookmark-list{
  padding-top: 15px;
  padding-left: 20px;
}

#footer {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 18px;
  text-align: center;
  padding:15px;
  color: #336b81;
  /* position: absolute; */
  bottom: 0;
  padding-bottom: 2px;
  width: 100%;
  /* text-decoration: #ffcfdf wavy underline; */
  /* text-decoration: underline dotted #ffcfdf; */
}
